$button-font-size: 1.1rem;
$main_header_color: rgb(209, 168, 85);
$code_background: #444;
@mixin repositoryButton {
	border: 1px solid rgb(38, 107, 38);
	background-color: rgb(46, 97, 46);
	border-radius: .2rem;
	padding: .3rem;

	&:hover {
		background-color: green;
	}
}