@use 'variables' as v;

/* smartphone view */
@media (max-width: 577px) {
	.smartphoneLayout-only {
		display: block;
	}

	.computerTabletLayout-only {
		display: none;
	}
}

/* computer/tablet view */
@media (min-width: 578px) {
	.smartphoneLayout-only {
		display: none;
	}

	.computerTabletLayout-only {
		display: block;
	}
}

body {
	background-color: #333;
	color: #ccc;
	font-family: sans-serif;
	padding: 0 1rem;

	.App {

		/* smartphone view */
		@media (max-width: 577px) {
			h1 {
				font-size: 1.2rem;
			}

			h2 {
				font-size: .9rem;
				margin-top: -.6rem;
				margin-bottom: 1.1rem;
			}
		}

		/* computer/tablet view */
		@media (min-width: 578px) {
			h2 {
				font-size: 1.5rem;
				margin-top: -1.2rem;
			}
		}

		h1 {
			color: v.$main_header_color;
		}

		h2 {
			color: #999;
			font-weight: normal;
			font-style: italic;
		}

		button {
			font-size: v.$button-font-size;
		}

		nav {
			background-color: #222;
			padding: .5rem;

			a {
				color: #aaa;
				text-decoration: none;
				margin-right: 1rem;
			}

			a.active {
				color: rgb(211, 211, 110);
			}
		}

		.pageList {

			/* smartphone view */
			@media (max-width: 577px) {
				.starters {

					.starter:last-child {
						border-bottom: 0;
						padding-bottom: .5rem;
					}

					.starter {
						display: block;
						margin-bottom: 2rem;
						border-bottom: 1px solid #414141;
						padding-bottom: 1.6rem;

						img {
							width: 100%;
						}

						.title {
							font-size: 1.2rem !important;
							margin-top: .4rem;
							font-weight: bold;
							color: #222;
							text-align: center;
						}

						.description {
							display: none;
						}

						button {
							display: none;
						}
					}
				}
			}

			/* computer/tablet view */
			@media (min-width: 578px) {
				.starters {
					.starter {
						display: flex;
						gap: 1rem;

						img {
							width: 15rem;
							height: 10rem;
						}

						.title {
							.smartphone-only {
								display: none;
							}
						}
					}
				}
			}

			/* computer/tablet view */
			@media (min-width: 1140px) {
				.starters {
					display: grid;
					grid-template-columns: 1fr 1fr;
					gap: 2rem;

					.starter {
						display: flex;
						gap: 1rem;

						img {
							width: 15rem;
							height: 10rem;
						}
					}
				}
			}

			.starters {
				.starter {
					margin-top: 1.5rem;

					img {
						box-shadow: .5rem .5rem 1rem #222;

						&:hover {
							box-shadow: .2rem .2rem 1rem #555;
							box-shadow: .2rem .2rem 1rem #555;
							box-shadow: .2rem .2rem 1rem #555;
						}
					}

					.title {
						font-size: 2rem;
						color: #111;
					}

					.description {
						font-size: 1.3rem;
						color: #888;
						font-style: italic;
					}

					button {
						margin-top: 1rem;
						@include v.repositoryButton;
						margin-right: 1rem;
					}
				}
			}

			.singleStarter {

				/* smartphone view */
				@media (max-width: 577px) {
					margin-top: 1rem;

					img {
						width: 100%;
					}

					.title {
						margin-top: 1.5rem;
						font-size: 1.7rem;
					}

					.description {
						font-size: 1rem;
					}
				}

				/* computer view */
				@media (min-width: 578px) {
					display: flex;
					gap: 2rem;
					margin-top: 2rem;

					img {
						width: 30rem;
					}

					.title {
						font-size: 2.5rem;
					}

					.description {
						font-size: 1.3rem;
					}
				}

				.preInfo {
					h3 {
						font-size: .9rem;
						margin-top: 2rem;
						color: #666;
					}

					a {
						color: rgb(192, 147, 51);
					}

					.updowngradeItemsArea,
					.demoUrlArea,
					.learningMaterialArea,
					todoItemArea {
						margin-bottom: 2rem;
					}

					.updowngradeItemsArea {
						ul {
							li {
								margin-bottom: .3rem;
							}
						}
					}

					.todoItemArea ul {
						font-family: courier;
						color: tomato;
						background-color: #383838;
					}

					.learningMaterialArea {
						li {
							margin-bottom: .7rem;
						}
					}

					.externalForkArea {
						li {
							margin-bottom: .7rem;
						}
					}
				}

				img {
					box-shadow: .5rem .5rem 1rem #222;
					height: fit-content;
				}

				.title {
					color: #111;
					font-weight: bold;
					text-shadow: .1rem .1rem 1.2rem #aaa;
				}

				.description {
					color: #888;
					font-style: italic;
					margin-top: .3rem;
					margin-bottom: .3rem;
				}

				button {
					margin-top: 1rem;
					@include v.repositoryButton;
					margin-right: 1rem;
				}

				/* smartphone view */
				@media (max-width: 577px) {
					div.features {
						margin-top: 1.2rem;
						margin-bottom: 3rem;
						font-size: 1rem;
					}
				}

				/* computer/tablet view */
				@media (min-width: 578px) {
					div.features {
						margin-top: 2rem;
						font-size: 1.5rem;

						ul {
							li {
								margin-bottom: .5rem;
							}
						}
					}
				}

				div.features {
					margin-left: -1rem;


					color: rgb(210, 210, 153);

					strong {
						color: rgb(184, 128, 24);
					}

					a {
						color: rgb(195, 195, 112);
					}

					code {
						color: black;
						background-color: v.$code_background;
						padding-left: .5rem;
						padding-right: .5rem;
					}

					pre {
						margin-left: 2.5rem;
						text-indent: -.5rem;
						background-color: v.$code_background;
						width: max-content;
						padding: .5rem;

						code {
							background-color: transparent;
						}
					}
				}

				/* smartphone view */
				@media (max-width: 577px) {
					.readmeArea {
						width: 92%;

						textarea {
							width: 95.3%;
						}
					}
				}

				/* computer/tablet view */
				@media (min-width: 578px) {
					.readmeArea {
						width: 35rem;

						textarea {
							width: 97.3%;
						}
					}
				}

				.readmeArea {
					margin-top: 2rem;
					background: #222;
					border-radius: .5rem;
					padding: 1rem;

					h1 {
						color: #999;
						margin-top: 0;
						margin-bottom: .5rem;
						font-family: courier;
					}

					textarea {
						height: 15rem;
						background-color: #888;
						border: 0;
						border-radius: .2rem;
						padding: .5rem;
					}
				}
			}

			/* smartphone view */
			@media (max-width: 577px) {
				.animationArea {
					display: none;
				}
			}

			.animationArea {
				border-top: .15rem dashed #444;
				margin-top: 2rem;
				padding-top: 2rem;
				padding-bottom: 4rem;
				text-align: center;

				.animationTitle {
					font-size: 2rem;
					text-transform: uppercase;
					font-family: courier;
					color: #555;
					letter-spacing: 2rem;
					margin-bottom: 1rem;
					font-weight: bold;
				}

				img {
					box-shadow: .5rem .5rem 1rem #444;
					max-width: 90%;
				}
			}
		}

		.pageAbout {
			width: 35rem;

			/* smartphone view */
			@media (max-width: 577px) {
				width: 100%;

				img {
					width: 5rem !important;
				}
			}

			img {
				width: 10rem;
				margin-top: 2rem;
				border-radius: 1rem;
				filter: brightness(60%);
				height: fit-content;
			}

			.siteDescription {
				border-bottom: 1px solid #666;

				p {
					color: v.$main_header_color;
					font-style: normal;
					font-size: 1.2rem;
				}
			}

			.aboutAuthor {
				display: flex;
				gap: 1rem;

				.info {
					margin-top: 1rem;
					font-size: 1.3rem;
					color: #999;

					p {
						font-style: italic;
					}

					.item {
						margin-bottom: 1rem;

						a {
							color: rgb(239, 167, 13);
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}